/* DISPLAY */

@font-face {
    font-family: 'Geist';
    src: url(../assets/fonts/Geist-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url(../assets/fonts/Geist-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url(../assets/fonts/Geist-Italic.woff2) format('woff2');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url(../assets/fonts/Geist-BlackItalic.woff2) format('woff2');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

:root {
    --normal-font: 'Geist', sans-serif;
    --bold-weight: 700;
    --normal-weight: 400;
}