/* DISPLAY */

@font-face {
    font-family: 'Nature';
    src: url(../assets/fonts/ZTNature-Light.otf) format('openType');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Nature';
    src: url(../assets/fonts/ZTNature-SemiBold.otf) format('openType');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Nature';
    src: url(../assets/fonts/ZTNature-LightItalic.otf) format('openType');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Nature';
    src: url(../assets/fonts/ZTNature-SemiBoldItalic.otf) format('openType');
    font-style: italic;
    font-weight: 700;
    font-display: swap;
}

:root {
    --normal-font: 'Nature', sans-serif;
    --bold-weight: 700;
    --normal-weight: 400;
}