.icon {
    width: 22px;
    height: 22px;
    background-color: var(--text-color);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    fill: var(--text-color);
    transition: transform 0.3s ease, background-color 0.1s ease;
    overflow: visible ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.icon:hover {
    cursor: pointer;
}

.icon-igs {
    -webkit-mask-image: url("../assets/IGS_Icon.svg");
    mask-image: url("../assets/IGS_Icon.svg");
    width: 30px;
}

.icon-igs:hover {
    transform: scale(1.1);
}

.logo-full {
    -webkit-mask-image: url("../assets/igs-logo-full.svg");
    mask-image: url("../assets/igs-logo-full.svg");
    width: 250px;
    height: 250px;
    animation: slide-up 0.7s ease-out;
}

.logo-full:hover {
    cursor: default;
}

@keyframes slide-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-loading:hover {
    cursor: default;
}

.icon-cross:hover {
    background-color: var(--text-color);
    cursor: unset;
}

.icon-plus {
    -webkit-mask-image: url("../assets/plus-lg.svg");
    mask-image: url("../assets/plus-lg.svg");
}

.icon-play {
    -webkit-mask-image: url("../assets/play-fill.svg");
    mask-image: url("../assets/play-fill.svg");
}

.icon-info {
    -webkit-mask-image: url("../assets/info-lg.svg");
    mask-image: url("../assets/info-lg.svg");
}

.icon-search {
    -webkit-mask-image: url("../assets/search.svg");
    mask-image: url("../assets/search.svg");
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.icon-reset {
    -webkit-mask-image: url("../assets/reset-arrow.svg");
    mask-image: url("../assets/reset-arrow.svg");
    cursor: unset ! important;
    transition: transform 0.5s ease;
}

.icon-reset:hover {
    transform: rotate(-360deg);
}

.icon-library {
    -webkit-mask-image: url("../assets/collection-fill.svg");
    mask-image: url("../assets/collection-fill.svg");
}

.icon-arrow-left {
    -webkit-mask-image: url("../assets/arrow-left.svg");
    mask-image: url("../assets/arrow-left.svg");
    width: 18px;
    height: 18px;
    opacity: 0.4;
}

.icon-arrow-right {
    -webkit-mask-image: url("../assets/arrow-right.svg");
    mask-image: url("../assets/arrow-right.svg");
    width: 18px;
    height: 18px;
    opacity: 0.4;
}
