:root {
    --accent-color: #E6192A;
    --secondary-color: #050522;
    --sec-bg-color: #f3f3f5;
    --main-bg-color: #e3e3ec;
    --text-color: #050522;
    --tooltip-bg-color: #050522;
    --selected-color: #E6192A;
    --border: 1px solid var(--secondary-color);
    --accent-border: 2px solid var(--selected-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
    border-left: var(--border);
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

html {
    width: 100%;
    height: 100%;
}

label, input, textarea, button {
    font-family: var(--normal-font);
    color: var(--text-color);
    font-size: 15px;
}

::selection {
    background-color: var(--accent-color);
   color: var(--text-color);
}

h1, h2, h3 {
    font-family: var(--normal-font);
    font-weight: var(--bold-weight);
    color: var(--text-color);
    font-size: 20px;
    margin: 0;
}

#alert-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    display: none;
    pointer-events: all;
}

#alert-backdrop.show {
    display: block;
}

p {
    display: flex;
    align-items: center;
    margin: 0;
    color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 15px;
    font-weight: var(--normal-weight);
}

body {
    background-color: var(--main-bg-color);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: var(--normal-font);
    font-size: 15px;
    color: var(--text-color);
    overflow: hidden;
    flex-direction: column;
    font-weight: var(--normal-weight);
}

.row.title-bar {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--sec-bg-color);
    user-select: none;
    
}

.row.title-bar .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.title p {
    font-weight: var(--bold-weight);
}

.title .icon {
    cursor: unset !important;
}
.title .icon:hover {
    transform: none !important;
}

.row.title-bar .icons {
    -webkit-app-region: no-drag;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.icons button {
    position: relative;
    background: transparent;
    border: none;
    margin: 0;
    padding: 5px;
    cursor: unset !important;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.icons button::before, .closeBtn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    background-color: var(--accent-color);
    transform: scale(0.85);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.1s ease;

    z-index: 0;
}

.view-btn {
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
    padding: 5px;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    width: 43px;
    margin-left: auto;
}

.view-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.icons button:hover::before, .closeBtn:hover::before {
    transform: scale(1);
    opacity: 1;
}

.icons button:active::before, .closeBtn:active::before {
    transform: scale(0.9);
    opacity: 1;
}

.icons button .icon {
    position: relative;
    z-index: 1;
}

.no-games {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    justify-self: center;
    align-self: center;
    opacity: 0.2;
}

.no-games .icon {
    background-color: var(--text-color);
}

.no-games p {
    color: var(--text-color);
    font-size: 18px !important;

}

.closeBtn {
    border: none;
    background: transparent;
    padding: 10px !important;
    cursor: pointer;
    position: relative;
}

#minimizeBtn:hover .icon, #maximizeBtn:hover .icon {
    background-color: var(--text-color);
}

#closeBtn:hover::before {
    background-color: var(--selected-color);
}

#closeBtn:hover .icon{
    background-color: #0c0c0c;
}

#closeBtn .icon:hover{
    transform: rotate(45deg) !important;
}

#closeBtn .icon{
    width: 18px;
    height: 18px;
}

.row.title-bar p {
    font-size: 15px;
    color: var(--text-color);
}

.icons .icon:hover {
    cursor: unset !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.1s ease;
}

#app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex: 1;
    width: 100%;
    min-height: 0;
    background-color: var(--sec-bg-color);
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    width: 100%;
    padding: 10px;
    min-height: 60px;
    max-height: 60px;
    gap: 10px;
}

.nav-bar .nav-item {
    padding: 10px;
    cursor: pointer;
   color: var(--text-color);
    transition: all 0.1s ease;
    align-items: baseline;
    margin: 0;
    font-family: var(--normal-font);
    font-size: 15px;
    text-decoration: none;
    margin-left: auto;
}

.nav-bar .nav-item:hover {
    text-decoration: underline;
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.search-bar{
    padding: 5px 5px 5px 10px;
    display: flex;
    border: var(--border);
    border-radius: 5px;
    z-index: 6;
    gap: 10px;
    align-items: center;
}

.search-bar.focused {
    border-color: var(--selected-color);
}

.search-bar.focused .search-key {
    opacity: 0;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 15px;
    background-color: transparent;
    width: 100%;
    font-family: var(--normal-font);
    padding: 0;
    color: var(--text-color);
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder{
   color: var(--text-color);
    opacity: 0.6;
}

.search-container {
    position: relative;
    flex: 1;
    max-width: 400px;
    min-width: 100px;
}

.main-area #searchRow .play-btn {
    height: 43px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#searchInput {
    border-radius: 0 !important;
}

#sortBtn.play-btn {
    max-width: 75px;
    min-width: 75px;
    anchor-name: --sort-btn;
}

#filterBtn {
    anchor-name: --filter-btn;
    max-width: 200px !important;
    flex-shrink: 0;
    width: fit-content !important;
    min-width: none;
    aspect-ratio: unset !important;
    padding: 5px 10px !important;
}

.clear-btn {
    padding: 5px 10px;
    border: var(--border);
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s ease;
    font-family: var(--normal-font);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-btn:hover {
    background-color: var(--accent-color);
}

.suggestions {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: var(--border);
  background: var(--main-bg-color);
  z-index: 5;
  border-radius: 5px;
  overflow: hidden;
}

.suggestion-item {
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
   color: var(--text-color);
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 10px;
}

::placeholder {
   color: var(--text-color);
    opacity: 0.7;
}

.suggestion-item:hover {
  background-color: var(--accent-color);
}

.suggestion-item.active {
    background-color: var(--accent-color);
}

.suggestion-icon, .game-icon {
    width: 26px;
    height: 26px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    border: var(--border);
}

.game-icon {
    width: 35px;
    height: 35px;
}

.suggestion-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-area {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    height: 100%;
    overflow-y: hidden;
    justify-content: space-between;
    border-radius: 10px 0 0 0 ;
    border-left: var(--border);
    border-top: var(--border);
    overflow-x: hidden;
    background-color: var(--sec-bg-color);
}

.main-area .row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}

.main-area #searchRow {
    padding: 10px;
    border-bottom: var(--border);
    height: min-content;
    border-radius: 10px 0 0 0;
    background-color: var(--main-bg-color);
}

.nav {
    display: flex;
    flex-direction: column;
    min-width: 55px;
    background-color: var(--sec-bg-color);
    align-items: center;
    padding: 10px 0;
    gap: 10px;
    justify-content: start;
    height: 100%;
}

.nav button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: scale(0.85);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.1s ease;
    z-index: 0;
    padding: 10px;
}

.nav button:hover::before {
    transform: scale(1);
    opacity: 1;
    
}

.nav button:active::before {
    transform: scale(0.9);
    opacity: 1;
    
}

.sidebar {     
    display: flex;
    flex-direction: column;
    width: 0;
    flex-shrink: 0;
    background-color: var(--main-bg-color);
    border-left: 0 solid var(--secondary-color);
    overflow: hidden;
    border-top: var(--border);
    border-left: var(--border);
    height: 100%;
    transition: none;
}

.sidebar.active {
    width: 25vw;
    min-width: 300px;
    border-left: var(--border);
    overflow-y: auto;
}

.sidebar p {
    margin: 0;
}

.sidebar img {
    margin-left: auto;
    cursor: pointer;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    transition: all 0.2s ease;
}

.sidebar img:hover {
    transform: rotate(135deg);
}

.tag {
    font-size: 15px;
    background-color: var(--sec-bg-color);
    color: var(--text-color);
    padding: 8px 10px;
    border-radius: 100px;
    transition: all 0.1s ease;
    border: var(--border);

}

#tags.row {
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}


.sidebar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.row.game-info {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}

.row.game-info .value {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
}

weak {
    opacity: 0.7;
}

.sidebar .play-btn {
    aspect-ratio: unset !important;
    width: 45% !important;
    min-width: none;
    max-width: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    width: 100%;
    background-color: var(--main-bg-color);
    flex-grow: 1;
    overflow-y: auto;
    grid-auto-rows: calc(300px * 4 / 3);
    align-items: start;
    padding: 10px;
}

#games.list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    transition: all 0.2s ease;
}

#games.list .game-box {
    flex-direction: row;
    max-width: 100%;
    width: 100%;
    height: fit-content;
    overflow: visible;
    padding: 10px;
}

#games.list .game-title {
    font-size: 16px;
}

#games.list .play-btn {
    margin-left: auto;
    width: fit-content !important;
    aspect-ratio: unset !important;
    max-width: unset !important;
    padding-right: 10px;
}

.game-box {
    border: var(--border);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.game-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-box .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.row.top {
    justify-content: start;
    margin-bottom: auto;
    margin-top: 0;
}

.game-box .game-title {
    font-size: 22px;
    font-weight: var(--normal-weight);
   color: var(--text-color);
    margin: 0;
    max-width: 100%;
}

.footer {
    width: 100%;
    background-color: var(--main-bg-color);
    border-top: var(--border);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
   color: var(--text-color);
   height: 60px;
}

.add-game-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button.add-game-button {
   color: var(--text-color);
    border: none;
    cursor: pointer;
    border: var(--border);
    transition: all 0.1s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--normal-font);
    padding: 5px;
    border-radius: 5px ;
    background-color: var(--main-bg-color);
}

button.add-game-button:hover {
    background-color: var(--accent-color);
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-section {
    display: flex;
    flex-direction: column;
    border: var(--border);
    border-radius: 5px;
    width: 40vw;
    min-width: 400px;
    overflow: hidden;
    margin-bottom: 10px;
}

.settings img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.settings:hover img {
    transform: rotate(90deg);
}

.search-key {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    border: var(--border);
    cursor: auto;
    text-wrap: nowrap;
    opacity: 1;
}

.search-key:hover {
    cursor: default;
}

.play-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border: var(--border);
    cursor: pointer;
    transition: all 0.1s ease;
    font-family: var(--normal-font);
    width: 10%;
    min-width: 35px;
    max-width: 45px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
}

.play-btn img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.play-btn:hover {
    background-color: var(--accent-color);
}

.add-game-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
    background-color: var(--main-bg-color);
    border: var(--border);
    border-radius: 5px;
    overflow: auto;
    max-height: 95vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    transition: transform 0.1s ease-out;
    z-index: 999999;
}

.drag-bar {
    cursor: move;
    user-select: none;
}

.add-game-window .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    padding: 10px;
}

.add-game-window .input-group {
    padding: 0px 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.add-game-window .input-group:last-child {
    padding: 10px;
}

.add-game-window.active {
    transform: translate(-50%, -50%) scale(1);
    width: fit-content;
    height: fit-content;
    max-height: 80vh;
    visibility: visible;
}

.add-game-window .row img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    rotate: 45deg;
}

.add-game-window .row img:hover {
    transform: rotate(90deg);
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: var(--border);
    font-size: 15px;
    background-color: var(--main-bg-color);
    outline: none;
    width: 400px;
    display: flex;
}

.input-group.desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.input-group button {
    padding: 5px;
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
   color: var(--text-color);
    cursor: pointer;
    transition: all 0.1s ease;
    width: 38px;
    min-width: 38px;
    max-width: 38px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.input-group button:hover {
    background-color: var(--accent-color);
}

.add-tag {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.add-tag input {
    width: 200px;
}

.row.tags {
    gap:5px;
    justify-content: start;
    flex-wrap: wrap;
}

#tag-container .tag:hover {
    background-color: var(--selected-color);
    cursor: pointer;
}

#tag-container {
    padding-top: 0;
}

.browse-btn {
    min-width: fit-content !important;
    max-width: fit-content !important;
    display: flex !important;
    aspect-ratio: unset !important;
    padding: 10px !important;
}

.browse-btn p{
    font-family: var(--normal-font);
    font-size: 15px;
}

.more-container {
    position: relative;
    width: 45%;
    min-width: 45%;
}

#moreBtn {
    anchor-name: --more-btn;
}

.sort-list, .more-menu {
    width: fit-content;
    display: flex;
    position: absolute;
    justify-content: start;
    flex-direction: column;
    border: var(--border);
    border-radius: 5px;
    overflow: hidden;
    top: anchor(bottom);
    left: anchor(left);
    margin-top: 5px;
    transition: transform 0.2s ease, opacity 0.1s ease;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    transform: translateY(-10px) scale(1);
    pointer-events: none;
    opacity: 0;
}

.filter-list {
    position-anchor: --filter-btn;
    position: absolute;
    top: anchor(bottom);
    left: anchor(left);
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: fit-content;
    max-width: 350px;
    border: var(--border);
    background-color: var(--main-bg-color);
    margin-top: 5px;
    transition: transform 0.2s ease, opacity 0.1s ease;
    transform: translateY(-10px) scale(1);
    pointer-events: none;
    opacity: 0;
    height: fit-content;
    max-height: 400px;
    overflow-y: auto;
}

.filter-list.active {
    opacity: 1;
    transform: translateY(0px) scale(1);
    pointer-events: auto;
}

.filter-list .tag:hover{
    cursor: pointer;
    background-color: var(--selected-color);

}

.filter-list .tag.selected{
    background-color: var(--selected-color);
}

#filterBtn .counter {
    border-radius: 500px;
    background-color: var(--sec-bg-color);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    font-size: 13px;
}

#filterBtn:hover .counter {
    background-color: var(--accent-color);
}

.counter p {
    font-family: var(--normal-font);
    font-size: 13px;
    color: var(--text-color);
    margin: 0;
}

.sort-list {
    position-anchor: --sort-btn;
}

.more-menu {
    position-anchor: --more-btn;
    min-width: 100%;
}

.sort-list.active {
    opacity: 1;
    transform: translateY(0px) scale(1);
    pointer-events: auto;
}

.more-menu.active{
    display: flex;
    opacity: 1;
    transform: translateY(0px);
    min-width: 100%;
    pointer-events: auto;
}

.more-item, .sort-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
    border: none;
    background-color: var(--main-bg-color);
    border-bottom: var(--border);
    color: var(--text-color);
    display: flex;
    text-wrap: nowrap;
    font-family: var(--normal-font);
    font-size: 15px;
}

.more-item:hover, .sort-item:hover {
    background-color: var(--accent-color);
}

.more-item:last-child, .sort-item:last-child {
    border-bottom: none;
}

.alert-box {
    border: var(--border);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 15px;
    position: absolute;
    transform: scale(0.8);
    width: 0;
    z-index: 9999999;
    transition: transform 0.1s ease;
    opacity: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.alert-box.active {
    display: flex;
    opacity: 1;
    transition: transform 0.1s ease;
    transform: scale(1);
    width: 30vw;
    max-width: 400px;
    max-height: fit-content;
}

.alert-box .row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border-bottom: var(--border);
    height: fit-content;
}

.alert-box .message-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    width: 100%;
    height: fit-content;
}

.row.btn-row {
    justify-content: flex-end;
    gap: 5px;
    border: none;
}

.alert-button {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
    font-family: var(--normal-font);
    font-size: 15px;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    outline: none;
    width: 20%;
}

.alert-button:hover {
    background-color: var(--accent-color);
}

.settings-area {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 10px 0 0 0;
    border-left: var(--border);
    border-top: var(--border);
}

.settings-area .row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border-bottom: var(--border);
    border-top: var(--border);
    height: fit-content;
    font-family: var(--normal-font);
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.settings-area .row:first-child {
    border-top: none;
}


.settings-area .row p{
    overflow: hidden;
    display: flex;
    font-size: 16px;
    font-family: var(--normal-font);
    font-weight: var(--bold-weight);
}

.settings-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    height: fit-content;
    font-family: var(--normal-font);
    font-size: 15px;
    padding: 10px;
    gap: 10px;
    border-bottom: var(--border);
    justify-content: space-between;
}
.settings-item:last-child {
    border-bottom: none;
}

.settings-item input[type="color"] {
    width: 50px;
    height: 34px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: var(--border);
    background: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.reset-btn {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: var(--border);
    background: none;
   color: var(--text-color);
    font-family: var(--normal-font);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
}

.reset-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.reset-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
}

.reset-btn:disabled .icon:hover {
    transform: none;
}

.reset-btn:disabled:hover {
    background-color: transparent;
    cursor: not-allowed;
}

.settings-item input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.settings-item input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0px;
}

.settings-item input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius:0px;
}

#themeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
}

.theme-btn {
    height: 60px;
    border: var(--border);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.theme-btn:hover, .theme-btn.active {
    border-color: var(--selected-color);
    border-width: 2px;
}

.nav-bar .play-btn {
    align-items: center;
    justify-content: center;
    height: 43px !important;
    padding: 10px !important;
    min-width: 43px !important; 
    max-width: 80px !important;
}

btn-search:hover {
    background-color: var(--accent-color);
}

.nav button {
    padding: 10px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
    background-color: transparent;
}

.nav #settingsBtn:hover .icon{
    transform: rotate(180deg);
}

#goBackBtn,
#goForwardBtn {
    -webkit-app-region: no-drag;
    position: relative;
    background-color: transparent;
    padding: 5px;
    border-radius: 50%;
    border: none;
    pointer-events: none;
}

#goBackBtn.enabled,
#goForwardBtn.enabled {
    pointer-events: auto;
}

#goBackBtn::before,
#goForwardBtn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background-color: var(--accent-color);
    transform: scale(0.85);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.1s ease;
    z-index: 0;
}

#goBackBtn.enabled:hover::before,
#goForwardBtn.enabled:hover::before {
    transform: scale(1);
    opacity: 1;
}

#goBackBtn.enabled:active::before,
#goForwardBtn.enabled:active::before {
    transform: scale(0.9) !important;
}

#goForwardBtn.enabled:hover::before {
    transform: scale(1);
    opacity: 1;
}

#goBackBtn .icon,
#goForwardBtn .icon {
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

#goBackBtn.enabled .icon,
#goForwardBtn.enabled .icon {
    opacity: 1;
}

#goBackBtn.enabled:hover,
#goForwardBtn.enabled:hover {
    cursor: pointer;
}

.filter-tag input {
    padding: 5px 10px;
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    max-width: fit-content;
    height: 100%;
}

.filter-tag input:hover {
    cursor: text;
}

.filter-tag {
    transform: scale(0.8);
    visibility: hidden;
    transition: all 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
}

.filter-tag.active {
    transform: scale(1);
    width: fit-content;
    visibility: visible;
    transition: all 0.1s ease;
}

.filter {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 15px;
    transition: all 0.2s ease;
    max-height: 43px;
}

.filter input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-family: inherit;
    padding: 0;
    max-width: 150px;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow: hidden;
    border-radius: 5px;
    -webkit-app-region: drag;
    margin-top: auto;
    width: 100vw;

}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: auto;
}

.loading-bar {
    border: var(--border);
    height: 10px;
    overflow: hidden;
    width: 100%;
    background-color: var(--secondary-color);
}

.loading-bar .fill {
    background-color: var(--main-bg-color);
    height: 10px;
    width: 0%;
    transition: all 0.1s ease;
}
