[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease;
    transform: translateX(-50%) scale(1);
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--accent-color);
    border: var(--border);
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--text-color);
    position: absolute;
    z-index: 99999;
    left: 50%;
    bottom: 3em;
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    transition: scale 0.1s ease;
    transform: translateX(-50%) scale(0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-title] {
    position: relative;
    font-family: var(--normal-font);
    font-size: 14px;
    text-wrap: nowrap;
}

#settingsBtn[data-title]:after, #homeBtn[data-title]:after {
    left: 110%;
    transform: translateX(0) translateY(50%) scale(0.8);
    bottom: 50%;
    z-index: 99;
}

#settingsBtn[data-title]:hover:after, #homeBtn[data-title]:hover:after {
    transform: translateX(0) translateY(50%) scale(1);
}

#closeSidebar[data-title]:after, #closeAddGame[data-title]:after {
    left: -250%;
    bottom: 50%;
    transform: translateX(0) translateY(50%) scale(0.8);
    visibility: hidden;
}

#closeSidebar[data-title]:hover:after, #closeAddGame[data-title]:hover:after {
    transform: translateX(0) translateY(50%) scale(1);
    visibility: hidden;
}

#viewBtn[data-title]:after {
    bottom: 50%;
    left: -150%;
    transform: translateX(-50%) translateY(50%) scale(0.8);
}

#viewBtn[data-title]:hover:after {
    transform: translateX(-50%) translateY(50%) scale(1);
}

#addTag[data-title]:after {
    bottom: 3.3em;
    font-size: 14px;
    text-wrap: nowrap;
}

.reset-btn[data-title]:after {
    bottom: 50%;
    left: -380%;
    font-size: 14px;
    text-wrap: nowrap;
    transform: translateY(50%) translateX(0) scale(0.8);
}

.reset-btn[data-title]:hover:after {
    transform: translateY(50%) translateX(0) scale(1);
}


.theme-btn[data-title]:after {
    bottom: 50%;
    left: 50%;
    font-size: 14px;
    text-wrap: nowrap;
    transform: translateY(50%) translateX(-50%) scale(1);
    background-color: var(--selected-color);
    border: none;
    color: var(--main-bg-color);
}

.theme-btn[data-title].active::after {
    visibility: visible !important;
    opacity: 1;
    pointer-events: none;
}

#filterBtn[data-title]:after {
    bottom: 50%;
    left: 105%;
    transform: translateX(0) translateY(50%) scale(0.8);
}

#filterBtn[data-title]:hover:after {
    transform: translateX(0) translateY(50%) scale(1);
}



/*TESTING

.hover-tooltip {
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--accent-color);
    border: var(--border);
    color: var(--text-color);
    display: inline-block;
    opacity: 0;
    transform: scale(0.85);
}

.hover-tooltip.visible {
    opacity: 1;
    transform: scale(1);
}

.hover-tooltip p {
    font-size: 14px;
    margin: 0;
}

*/