:root {
    --accent-color: #E6192A;
    --secondary-color: #050522;
    --main-bg-color: #EDEDF5;
    --text-color: #050522;
    --tooltip-bg-color: #050522;
    --selected-color: #E6192A;
    --border: 0.12rem solid var(--secondary-color);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-bg-color);
    border-left: var(--border);
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-color);
}

html {
    width: 100%;
    height: 100%;
}

label, input, textarea, button {
    font-family: var(--normal-font);
    color: var(--text-color);
    font-size: 14px;
}

::selection {
    background-color: var(--accent-color);
   color: var(--text-color);
}

h1, h2, h3 {
    font-family: var(--normal-font);
    font-weight: bold;
   color: var(--text-color);
   font-size: 20px;
    margin: 0;
}

p {
    display: flex;
    align-items: center;
    margin: 0;
   color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 14px;
}

body {
    background-color: rgb(234, 241, 241);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: var(--normal-font);
    font-size: 14px;
    color: var(--text-color);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.1s ease;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-bg-color);
    border-bottom: var(--border);
   color: var(--text-color);
    width: 100%;
    padding: 10px 20px;
    min-height: 60px;
    max-height: 60px;
    gap: 20px;
}

.nav-bar .nav-item {
    padding: 10px;
    cursor: pointer;
   color: var(--text-color);
    transition: all 0.1s ease-in-out;
    align-items: baseline;
    margin: 0;
    font-family: var(--normal-font);
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
}

.nav-bar .nav-item:hover {
    text-decoration: underline;
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.search-bar{
    padding: 10px;
    display: flex;
    border: var(--border);
    border-radius: 5px;
    z-index: 6;
    gap: 10px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    font-family: var(--normal-font);
    padding: 0;
    color: var(--text-color);
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder{
   color: var(--text-color);
    opacity: 0.75;
}

.search-container{
    position: relative;
    width: 30vw;
    max-width: 450px;
    min-width: 200px;
}

.suggestions {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: var(--border);
  background: var(--main-bg-color);
  z-index: 5;
  border-radius: 5px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
   color: var(--text-color);
}

::placeholder {
   color: var(--text-color);
    opacity: 0.75;
}

.suggestion-item:hover {
  background-color: var(--accent-color);
}

.suggestion-item.active {
    background-color: var(--accent-color);
}


.icon {
    width: 22px;
    height: 22px;
    background-color: var(--text-color);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    fill: var(--text-color);
    transition: transform 0.3s ease, background-color 0.1s ease;
    overflow: visible ;
}

.icon:hover {
    cursor: pointer;
}

.icon-palette {
    -webkit-mask-image: url("assets/palette-fill.svg");
    mask-image: url("assets/palette-fill.svg");
    cursor: unset !important;
    width: 18px;
}

.icon-igs {
    -webkit-mask-image: url("assets/IGS_Icon.svg");
    mask-image: url("assets/IGS_Icon.svg");
    width: 30px;
    min-height: 30px;
}

.icon-igs:hover {
    transform: scale(1.1);
}

.icon-settings {
    -webkit-mask-image: url("assets/gear-fill.svg");
    mask-image: url("assets/gear-fill.svg");
}

.icon-cross {
    -webkit-mask-image: url("assets/plus-lg.svg");
    mask-image: url("assets/plus-lg.svg");
    transform: rotate(45deg);
}

.icon-cross:hover {
    transform: rotate(135deg);
}

.icon-plus {
    -webkit-mask-image: url("assets/plus-lg.svg");
    mask-image: url("assets/plus-lg.svg");
}

.icon-settings:hover {
    transform: rotate(180deg) scale(1.1);
}

.icon-play {
    -webkit-mask-image: url("assets/play-fill.svg");
    mask-image: url("assets/play-fill.svg");
}

.icon-info {
    -webkit-mask-image: url("assets/info-lg.svg");
    mask-image: url("assets/info-lg.svg");
}

.icon-search {
    -webkit-mask-image: url("assets/search.svg");
    mask-image: url("assets/search.svg");
    height: 20px;
    width: 20px;
}

.icon-reset {
    -webkit-mask-image: url("assets/reset-arrow.svg");
    mask-image: url("assets/reset-arrow.svg");
    cursor: unset ! important;
    transition: transform 0.5s ease;
}

.icon-reset:hover {
    transform: rotate(-360deg);
}

.main-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    justify-content: center;
}

.sidebar {     
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: var(--main-bg-color);
    border-left: 0 solid var(--secondary-color);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar.active {
    width: 30vw;
    min-width: 300px;
    border-left: var(--border);
}

.sidebar p {
    margin: 0;
}

.sidebar img {
    margin-left: auto;
    cursor: pointer;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    transition: all 0.2s ease-in-out;
}

.sidebar img:hover {
    transform: rotate(135deg);
}

.tag {
    font-size: 14px;
    background-color: var(--text-color);
    color: var(--main-bg-color);
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}


.sidebar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.sidebar .play-btn {
    aspect-ratio: unset !important;
    width: 45% !important;
    min-width: none;
    max-width: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: var(--main-bg-color);
    flex-grow: 1;
    overflow-y: auto;
    grid-auto-rows: calc(300px * 4 / 3);
    align-items: start;
}


.game-box {
    border: var(--border);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
}

.game-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-box .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.game-box .game-title {
    font-size: 22px;
    font-weight: normal;
   color: var(--text-color);
    margin: 0;
    max-width: 100%;
}

.footer {
    width: 100%;
    background-color: var(--main-bg-color);
    border-top: var(--border);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
   color: var(--text-color);
}

button.add-game-button {
   color: var(--text-color);
    border: none;
    cursor: pointer;
    border: var(--border);
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--normal-font);
    padding: 10px;
    border-radius: 5px ;
    background-color: var(--main-bg-color);
}

button.add-game-button:hover {
    background-color: var(--accent-color);
}

.settings {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: var(--border);
    border-radius: 5px;
    width: 40vw;
    min-width: 400px;
    overflow: hidden;
    margin-bottom: 10px;
}

.settings img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settings:hover img {
    transform: rotate(90deg);
}

.play-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border: var(--border);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: var(--normal-font);
    width: 10%;
    min-width: 35px;
    max-width: 45px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
}

.play-btn img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.play-btn:hover {
    background-color: var(--accent-color);
}

.add-game-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    visibility: hidden;
    background-color: var(--main-bg-color);
    border: var(--border);
    border-radius: 5px;
    overflow: auto;
    transition: all 1s ease-in-out;
    max-height: 95vh;
}

.add-game-window .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border);
    padding: 10px;
}

.add-game-window .input-group {
    padding: 0px 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.add-game-window .input-group:last-child {
    padding: 10px;
}

.add-game-window.active {
    width: fit-content;
    height: fit-content;
    visibility: visible;
    transition: all 1s ease-in-out;
}

.add-game-window .row img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    rotate: 45deg;
    transition: transform 0.2s ease-in-out;
}

.add-game-window .row img:hover {
    transform: rotate(90deg);
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: var(--border);
    font-size: 14px;
    background-color: var(--main-bg-color);
    outline: none;
    width: 400px;
    display: flex;
}

.input-group.desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.input-group button {
    padding: 5px;
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
   color: var(--text-color);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 38px;
    min-width: 38px;
    max-width: 38px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.input-group button:hover {
    background-color: var(--accent-color);
}

.add-tag {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.add-tag input {
    width: 200px;
}

.row.tags {
    gap:5px;
    justify-content: start;
    flex-wrap: wrap;
}

#tag-container .tag:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.browse-btn {
    min-width: fit-content !important;
    max-width: fit-content !important;
    display: flex !important;
    aspect-ratio: unset !important;
    padding: 10px !important;
}

.browse-btn p{
    font-family: var(--normal-font);
    font-size: 14px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    transform: translateX(-50%) scale(1);
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--text-color);
    padding: 5px 8px;
    border-radius: 5px;
    color: var(--main-bg-color);
    position: absolute;
    z-index: 99999;
    left: 50%;
    bottom: 3em;
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    transition: scale 0.1s ease;
    transform: translateX(-50%) scale(0.8);
}

[data-title] {
    position: relative;
    font-family: var(--normal-font);
    font-size: 14px;
    text-wrap: nowrap;
}

#settingsBtn[data-title]:after, #homeBtn[data-title]:after {
    left:-120%;
    bottom: 0;
}

#closeSidebar[data-title]:after, #closeAddGame[data-title]:after {
    left:-150%;
    bottom: 0;
}

#addTag[data-title]:after {
    bottom: 3em;
    font-size: 14px;
    text-wrap: nowrap;
}

.more-container {
    position: relative;
    width: 45%;
    min-width: 45%;
}

.more-menu {
    border-radius: 5px;
    border: var(--border);
    background-color: var(--main-bg-color);
    color: var(--text-color);
    transition: all 0.1s ease-in-out;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    transition: transform 0.1s ease;
    pointer-events: none;
    overflow: hidden;

}

.more-menu.active {
    display: flex;
    opacity: 1;
    transition: transform 0.1s ease;
    transform: translateX(-50%) translateY(0px);
    min-width: 100%;
    pointer-events: auto;
}

.more-item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 100%;
    text-align: center;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: var(--main-bg-color);
    font-family: var(--normal-font);
    border-bottom: var(--border);
    width: 100%;
   color: var(--text-color);
}

.more-item:hover {
    background-color: var(--accent-color);
}

.more-item:last-child {
    border-bottom: none;
}

.alert-box {
    border: var(--border);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    font-family: var(--normal-font);
    font-size: 14px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%) scale(0.8);
    width: 0;
    z-index: 9999999;
    transition: transform 0.1s ease;
    opacity: 0;
}

.alert-box.active {
    display: flex;
    opacity: 1;
    transition: transform 0.1s ease;
    transform: translate(-50%, -40%) scale(1);
    width: 30vw;
    max-width: 400px;
    max-height: fit-content;
}

.alert-box .row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border-bottom: var(--border);
    height: fit-content;
}

.alert-box .message-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    width: 100%;
    height: fit-content;
}

.row.btn-row {
    justify-content: flex-end;
    gap: 5px;
    border: none;
}

.alert-button {
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: var(--normal-font);
    font-size: 14px;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    outline: none;
    width: 20%;
}

.alert-button:hover {
    background-color: var(--accent-color);
}

.settings-area {
    display: flex;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 100%;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.settings-area .row {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    border-bottom: var(--border);
    border-top: var(--border);
    height: fit-content;
    font-family: var(--normal-font);
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.settings-area .row:first-child {
    border-top: none;
}


.settings-area .row p{
    overflow: hidden;
    display: flex;
    font-size: 16px;
    font-family: var(--normal-font);
    font-weight: bold;
}

.settings-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-bg-color);
   color: var(--text-color);
    height: fit-content;
    font-family: var(--normal-font);
    font-size: 14px;
    padding: 10px;
    gap: 10px;
    border-bottom: var(--border);
    justify-content: space-between;
}
.settings-item:last-child {
    border-bottom: none;
}

.settings-item input[type="color"] {
    width: 50px;
    height: 34px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    border: var(--border);
    background: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.reset-btn {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: var(--border);
    background: none;
   color: var(--text-color);
    font-family: var(--normal-font);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.reset-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.reset-btn:disabled .icon:hover {
    transform: none;
}

.reset-btn[data-title]:after {
    bottom: 50%;
    left: -380%;
    font-size: 14px;
    text-wrap: nowrap;
    transform: translateY(50%) translateX(0) scale(1);
}

.reset-btn:disabled:hover {
    background-color: transparent;
    cursor: not-allowed;
}

.settings-item input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.settings-item input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 0px;
}

.settings-item input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius:0px;
}

.theme-btn {
    width: 33%;
    height: 60px;
    border: var(--border);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.theme-btn:hover, .theme-btn.active {
    border-color: var(--selected-color);
    border-width: 2px;
}

.theme-btn[data-title]:after {
    bottom: 50%;
    left: 50%;
    font-size: 14px;
    text-wrap: nowrap;
    transform: translateY(50%) translateX(-50%) scale(1);
    background-color: var(--selected-color);
}

.theme-btn[data-title].active::after {
    visibility: visible !important;
    opacity: 1;
    pointer-events: none;
}



