:root {
    --red: #E6192A;
    --blue: #050522;
    --white: #EDEDF5;
    --black: #040405;
    --tango: 'TangoSans', sans-serif;
    --inconsolata: 'Inconsolata', monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-left: 1.5px solid var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--blue);
}

@font-face {
    font-family: 'TangoSans';
    src: url(assets/fonts/TangoSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url(assets/fonts/Inconsolata.otf) format('opentype');
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    background-color: var(--red);
    color: var(--blue);
}

h1, h2, h3 {
    font-family: var(--tango);
    font-weight: normal;
}

p {
    display: flex;
    align-items: center;
    margin: 0;
}

body {
    background-color: rgb(234, 241, 241);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: var(--inconsolata);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1.5px solid var(--blue);
    color: var(--blue);
    width: 100%;
    padding: 10px 20px;
    height: 75px;
}

.nav-bar .nav-item {
    padding: 10px;
    cursor: pointer;
    color: var(--blue);
    transition: all 0.1s ease-in-out;
    align-items: baseline;
    margin: 0;
    font-family: var(--tango);
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
}

.nav-bar .nav-item:hover {
    text-decoration: underline;
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.search-bar{
    padding: 10px;
    display: flex;
    border: 1.5px solid var(--blue);
    border-radius: 5px;
    z-index: 6;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    font-family: var(--inconsolata);
    padding: 0;
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder{
    color: var(--blue);
    opacity: 0.75;
}

.search-container{
    position: relative;
    width: 20vw;
    min-width: 200px;
}

.suggestions {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  border: 1.5px solid var(--blue);
  background: var(--white);
  z-index: 5;
  border-radius: 5px;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: var(--red);
}

.suggestion-item.active {
    background-color: var(--red);
}


.icon {
    width: 25px;
    margin-right: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.main-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    justify-content: center;
}

.sidebar {     
    display: flex;
    flex-direction: column;
    width: 0;
    background-color: var(--white);
    border-left: 0 solid var(--blue);
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar.active {
    width: 30vw;
    min-width: 300px;
    border-left: 1.5px solid var(--blue);
}

.sidebar p {
    margin: 0;
}

.sidebar img {
    margin-left: auto;
    cursor: pointer;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    transition: all 0.2s ease-in-out;
}

.sidebar img:hover {
    transform: rotate(135deg);
}

.tag {
    font-size: 14px;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
}

.sidebar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.sidebar .play-btn {
    aspect-ratio: unset !important;
    width: 45% !important;
    min-width: none;
    max-width: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    background-color: var(--white);
    flex-grow: 1;
    overflow-y: auto;
    grid-auto-rows: calc(300px * 4 / 3);
    align-items: start;
}


.game-box {
    border: 1.5px solid var(--blue);
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.game-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-box .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.game-box .game-title {
    font-size: 22px;
    font-weight: normal;
    color: var(--blue);
    margin: 0;
    max-width: 100%;
}

.footer {
    width: 100%;
    background-color: var(--white);
    border-top: 1.5px solid var(--blue);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}

button.add-game-button {
    color: var(--blue);
    border: none;
    cursor: pointer;
    border: 1.5px solid var(--blue);
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: var(--tango);
    padding: 10px;
    border-radius: 5px ;
    background-color: var(--white);
}

button.add-game-button:hover {
    background-color: var(--red);
}

.settings {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settings:hover img {
    transform: rotate(90deg);
}

.play-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--blue);
    border: 1.5px solid var(--blue);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: var(--tango);
    width: 10%;
    min-width: 35px;
    max-width: 45px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
}

.play-btn img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.play-btn:hover {
    background-color: var(--red);
}

.add-game-window {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    visibility: hidden;
    background-color: var(--white);
    border: 1.5px solid var(--blue);
    border-radius: 5px;
    overflow: auto;
    transition: all 1s ease-in-out;
    max-height: 95vh;
}

.add-game-window .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--blue);
    padding: 10px;
}

.add-game-window .input-group {
    padding: 0px 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.add-game-window .input-group:last-child {
    padding: 10px;
}

.add-game-window.active {
    width: fit-content;
    height: fit-content;
    visibility: visible;
    transition: all 1s ease-in-out;
}

.add-game-window .row img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    rotate: 45deg;
    transition: transform 0.2s ease-in-out;
}

.add-game-window .row img:hover {
    transform: rotate(90deg);
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid var(--blue);
    font-size: 14px;
    background-color: var(--white);
    outline: none;
    width: 400px;
    display: flex;
}

.input-group.desc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.input-group button {
    padding: 5px;
    border-radius: 5px;
    border: 1.5px solid var(--blue);
    background-color: var(--white);
    color: var(--blue);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    width: 38px;
    min-width: 38px;
    max-width: 38px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.input-group button:hover {
    background-color: var(--red);
}

.add-tag {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.add-tag input {
    width: 200px;
}

.row.tags {
    gap:5px;
    justify-content: start;
    flex-wrap: wrap;
}

#tag-container .tag:hover {
    background-color: var(--red);
    cursor: pointer;
}

.browse-btn {
    min-width: fit-content !important;
    max-width: fit-content !important;
    display: flex !important;
    aspect-ratio: unset !important;
    padding: 10px !important;
}

.browse-btn p{
    font-family: var(--inconsolata);
    font-size: 14px;
}