:root {
    --red: #E6192A;
    --blue: #050522;
    --white: #EDEDF5;
    --black: #040405;
    --tango: 'TangoSans', sans-serif;
    --inconsolata: 'Inconsolata', monospace;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-left: 1.5px solid var(--blue);
}

::-webkit-scrollbar-track {
    background-color: var(--blue);
}

@font-face {
    font-family: 'TangoSans';
    src: url(assets/fonts/TangoSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url(assets/fonts/Inconsolata.otf) format('opentype');
}

html {
    width: 100%;
    height: 100%;
}

::selection {
    background-color: var(--red);
    color: var(--blue);
}

h1, h2, h3 {
    font-family: var(--tango);
    font-weight: normal;
}

body {
    background-color: rgb(234, 241, 241);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: var(--inconsolata);
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1.5px solid var(--blue);
    color: var(--blue);
    width: 100%;
    padding: 10px 20px;
    height: 75px;
}

.nav-bar .nav-item {
    padding: 10px;
    cursor: pointer;
    color: var(--blue);
    transition: all 0.1s ease-in-out;
    align-items: baseline;
    margin: 0;
    font-family: var(--tango);
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
}

.nav-bar .nav-item:hover {
    text-decoration: underline;
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.search-bar{
    padding: 10px;
    display: flex;
    border: 1.5px solid var(--blue);
    width: 20vw;
    min-width: 200px;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    font-family: var(--inconsolata)
}

.search-bar input:focus {
    outline: none;
}

.search-bar input::placeholder{
    color: var(--blue);
    opacity: 0.75;
}

.icon {
    width: 25px;
    margin-right: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
}

.main-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.sidebar {    
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-color: var(--white);
    border-left: 1.5px solid var(--blue);
    min-width: 300px;
    overflow-y: auto;
}

.sidebar p {
    margin: 0;
}

.sidebar img {
    margin-left: auto;
    cursor: pointer;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    transition: all 0.2s ease-in-out;
}

.sidebar img:hover {
    transform: rotate(135deg);
}

.sidebar .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.sidebar .play-btn {
    aspect-ratio: unset !important;
    width: 45% !important;
    min-width: none;
    max-width: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#games {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: var(--white);
    flex-grow: 1;
    overflow-y: auto;
}

.game-box {
    border: 1.5px solid black;
    aspect-ratio: 3/4 !important;
    width: 35vw;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    padding: 10px;
    flex-shrink: 0;
    overflow: hidden;
    align-self: start;
    max-height: 50vh;
}

.game-box .row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-top: auto;
}

.footer {
    width: 100%;
    background-color: var(--white);
    border-top: 1.5px solid var(--blue);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}

button#add-game-button {
    color: var(--blue);
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--tango);

}

button#add-game-button:hover .plus img {
    transform: rotate(90deg);
}

button#add-game-button:hover .plus {
    background-color: var(--red);
}

.settings {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settings:hover img {
    transform: rotate(90deg);
}

.play-btn {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white);
    color: var(--blue);
    border: 1.5px solid var(--blue);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-family: var(--tango);
    width: 10%;
    min-width: 35px;
    max-width: 45px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
}

.play-btn img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.play-btn:hover {
    background-color: var(--red);
}