:root {
    --red: #E6192A;
    --blue: #050522;
    --white: #EDEDF5;
    --black: #040405;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(234, 241, 241);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}

* {
    font-family: var(--font-family);
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1.5px solid var(--black);
    color: var(--black);
    width: 100%;
    padding: 10px 20px;
    height: 75px;
    gap: 15px;
    font-size: 18px;
}

.nav-bar .nav-item {
    padding: 10px 12px;
    cursor: pointer;
    border: 1.5px solid var(--black);
    color: var(--black);
    transition: all 0.1s ease-in-out;
    box-shadow: 2px 2px 0 var(--black);
    align-items: center;
    margin: 0;
}

.nav-bar .nav-item:hover {
    border-color: var(--black);
    transform: translateY(-2px);
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.icon {
    width: 30px;
}

.icon img {
    width: 100%;
    height: 100%;
}

#games {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: var(--white);
    flex-grow: 1;
}

.game-box {
    border: 1.5px solid black;
    width: 200px;
    height: 350px;
    display: flex;
}