:root {
    --red: #E6192A;
    --blue: #050522;
    --white: #EDEDF5;
    --black: #040405;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@font-face {
    font-family: 'TangoSans';
    src: url(assets/fonts/TangoSans.ttf) format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url(assets/fonts/Inconsolata.otf) format('opentype');
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(234, 241, 241);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Inconsolata', monospace;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    border-bottom: 1.5px solid var(--blue);
    color: var(--blue);
    width: 100%;
    padding: 10px 20px;
    height: 75px;
}

.nav-bar .nav-item {
    padding: 10px;
    cursor: pointer;
    color: var(--blue);
    transition: all 0.1s ease-in-out;
    align-items: baseline;
    margin: 0;
    font-family: 'TangoSans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    margin-left: auto;
}

.nav-bar .nav-item:hover {
    text-decoration: underline;
}

.nav-bar .nav-item:active {
    box-shadow: none;
}

.search-bar{
    padding: 10px;
    display: flex;
    border: 1.5px solid var(--blue);
    width: 20vw;
    min-width: 200px;
    border-radius: 5px;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    width: 100%;
    font-family: 'Inconsolata', monospace;
}

.search-bar input:focus {
    outline: none;
}

.icon {
    width: 25px;
    margin-right: 20px;
}

.icon img {
    width: 100%;
    height: 100%;
}

#games {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    width: 100%;
    background-color: var(--white);
    flex-grow: 1;
}

.game-box {
    border: 1.5px solid black;
    aspect-ratio: 3/4 !important;
    width: 25vw;
    height: auto;
    display: flex;
    border-radius: 5px;
}

.footer {
    width: 100%;
    background-color: var(--white);
    border-top: 1.5px solid var(--blue);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    font-size: 14px;
}

button#add-game-button {
    color: var(--blue);
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'TangoSans', sans-serif;

}

button#add-game-button:hover .plus img {
    transform: rotate(90deg);
}

button#add-game-button:hover .plus {
    background-color: var(--red);
}

.settings {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings img {
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.settings:hover img {
    transform: rotate(90deg);
}